In [1]:
! pip install sqlalchemy
! pip install PyMySQL

Requirement already satisfied: sqlalchemy in /Users/civicfab/opt/anaconda3/lib/python3.9/site-packages (1.4.32)
Requirement already satisfied: greenlet!=0.4.17 in /Users/civicfab/opt/anaconda3/lib/python3.9/site-packages (from sqlalchemy) (1.1.1)
Requirement already satisfied: PyMySQL in /Users/civicfab/opt/anaconda3/lib/python3.9/site-packages (1.0.2)

In [5]:
import pymysql
from sqlalchemy import create_engine
import pandas as pd
import getpass  # to get the password without showing the input
password = getpass.getpass()

········

In [8]:
connection_string = 'mysql+pymysql://root:' + password + '@localhost/sakila'
engine = create_engine(connection_string)

Check the number of rentals for each customer for May

In [12]:
data_may = pd.read_sql_query('select customer_id, count(rental_id) as count from rentals_may group by customer_id', engine)
data_may.head()

   customer_id  count
0            1      2
1            2      1
2            3      2
3            5      3
4            6      3

Check the number of rentals for each customer for June

In [13]:
data_june = pd.read_sql_query('select customer_id, count(rental_id) as count from rentals_june group by customer_id', engine)
data_june.head()

   customer_id  count
0            1      7
1            2      1
2            3      4
3            4      6
4            5      5

Write a function that checks if customer borrowed more or less films in the month of June as compared to May.

In [14]:
data_merged = data_may.merge(data_june, on="customer_id", suffixes=('_may', '_june'))
data_merged

     customer_id  count_may  count_june
0              1          2           7
1              2          1           1
2              3          2           4
3              5          3           5
4              6          3           4
..           ...        ...         ...
506          594          4           6
507          595          1           2
508          596          6           2
509          597          2           3
510          599          1           4

[511 rows x 3 columns]